name: Dependency Review

on:
  pull_request:
    branches: [main]

permissions:
  contents: read

jobs:
  dependency-review:
    uses: ./.github/workflows/reusable-dependency-review.yml
    permissions:
      contents: read
      pull-requests: write
